body {
    width:100%;
    height: 100%;
   	margin: 0px auto;
}
.navbar{
	padding-top: 1em;
}
.navbar-brand{
	padding: 0;
}
.name a{
	color: #9F2214;
	font-size: 0.6em;
	padding-top: 2em;
}
.homepic{
	padding-top: 2.5em;
}
.home .squiggle-blue{
	width: 100%;
}
.home nav span{
	background-color: #5A3B00;

}
.home nav .nav-justified a{
	font-family: 'Rokkitt', serif;
	font-size: 2.3125em;
	font-weight: 400;
	color: #7E6B71;
}

.home .nav .active a{
	color: #5A3B00;
	font-weight: 700;


}
.home{
	background-color: #f7ead7;
	width: 100%;


}

.home h2 a{
	font-family: 'Rokkitt', serif;
	font-size: .8em;
	font-weight: 700;
	color: #5A3B00;

}
.home h3{
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	color: #9F2214;
	text-align: center;
	width: 100%;

}
.home h4{
	font-family: 'Rokkitt', serif;
	font-size: 1.69em;
	font-weight: 700;
	line-height: 1.2em;
	color: #9F2214;
	text-align: center;
	padding-top: 1.5em;
}

.home p{
	font-family: 'Lato', sans-serif;
	font-size: 1.19em;
	text-align: center;
	font-weight: 400;
   	line-height: 1.7em;
   	padding-bottom: 3em;


}



.home-footer{
	background-color: #5A3B00;
	width: 100%;
	height: 100%;
	text-align: center;

}
.home-footer p{
	color: #ffffff;
	padding-top: 1em;
	font-size: 1.19em;

}
.home-footer a{
	color: #FBC676;
	font-size: 1.19em;

}

.home-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.7em;
	font-weight: 700;
	
}
.home-footer img{
	vertical-align: middle;
}
.home-footer img:last-child{
	padding-bottom: 10em;
}
.mail{
	padding-left: 1.3em;
	padding-top: 1em;
	padding-bottom: 2em;
	max-width: 100%;

}

.squiggle-footer{

	padding-top: 2em;
	padding-bottom: 9em;
	max-width: 100%;
}



.work-bg nav span{
	background-color: #0A3542;

}

.work-bg nav .nav-justified a{
	font-family: 'Rokkitt', serif;
	font-size: 2.3125em;
	font-weight: 700;
	color: #0A3542;
}
.work-bg .nav .active a{
	color: #ffffff;
	font-weight: 700;
}
.work-bg .squiggle-blue{
	width: 100%;
	padding-bottom: 2em;
}
.work-bg{
	background-color: #C6CDC7;
	width: 100%;
	height: 100%;
}
.work-bg h2 a{
	font-family: 'Rokkitt', serif;
	font-size: .8em;
	font-weight: 700;
	color: #0A3542;

}
.work-bg h3{
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	color: #9F2214;
	text-align: center;
	width: 100%;

}
.work-bg h5{
	color: #0A3542;
	font-family: 'Rokkitt', serif;
	font-size: 2.19em;
	font-weight: 400;
	text-align: center;
	padding-top: 1em;
}
.work-bg p{
	font-family: 'Rokkitt', serif;
	font-size: 1.19em;
	font-weight: 400;
	color:#0A3542;
	text-align: center;
}
.work-bg .portfolio-item a{
	color: #9F2214;
	font-family: 'Rokkitt', serif;
	font-size: 1.19em;
	font-weight: 700;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}

.work-footer{
	background-color: #9F2214;
	width: 100%;
	text-align: center;

}
.work-footer img{
	vertical-align: middle;
}
.work-footer img:last-child{
	padding-bottom: 10em;
}
.work-footer p{
	color: #ffffff;
	font-size: 1.19em;
	padding-top: 1em;
}

.work-footer a{
	color: #FBC676;
	font-size: 1.19em;
}
.work-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.7em;
	font-weight: 700;

}
.arrows img{
	padding-top: .4em;
	padding-bottom: 1em;
	vertical-align: bottom;
}
.portfolio-item{
	padding-top: 3em;
}
.close-up img{
	padding-top: 2em;
	padding-bottom: 2em;
}
.close-up iframe{
	padding-top: 2em;
	padding-bottom: 2em;
	border: none;
}
.about nav span{
	background-color: #ffffff;

}

.about nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;
}
.about .nav .active a{
	color: #0A3542;
	font-weight: 700;

}

.about{
	background-color: #231F20;
	width: 100%;

}
.about h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;

}
.about h3{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;

}
.about h4{
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 2.3125em;
	font-weight: 400;
	text-align: center;
}
.about p{
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
	font-weight: 400;
	color:#ffffff;
	text-align: center;
}
.about a{
	color: #FBC676;
	font-family: 'Rokkitt', serif;
	font-size: 1.19em;
	font-weight: 700;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}
.about img{
	padding-top: 1.5em;
	padding-bottom: 2em;
}
.about-footer{
	background-color: #0A3542;
	width: 100%;
	text-align: center;

}
.about-footer img{
	vertical-align: middle;
}
.about-footer img:last-child{
	padding-bottom: 10em;
}
.about-footer p{
	color: #ffffff;
	padding-top: 1em;
}
.about-footer a{
	color: #FBC676;

}
.about-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;

}
.about-footer nav ul{
	width: 100%;
}
.contact nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 400;
	color: #ffffff;
}
.contact .nav .active a{
	color: #5A3B00;
	font-weight: 700;

}

.contact nav span{
	background-color: #ffffff;

}
.contact{
	background-color: #5A3B00;
	width: 100%;
	height: 100%;

}
.contact-f{
	background-color: #5A3B00;
	width: 100%;


}

.contact h3{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;

}
.contact-f h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	text-align: center;
}


.thumb li {
  height: 25em;
}


.left, .right {
  position: absolute;
  top: -8em;
}

.left {
  left: 2em;
}

.right {
  right: 4.5em;
}




@media (min-width: 360px){
	.squiggle-footer{
		padding-left: 1.8em;

}
.mail{
	padding-left: 1.6em;
}
}
@media (min-width: 768px) {
 .name h3{

		margin-top: -2em;
		text-align: center;
}
	nav {
		position: relative;
		margin: 3em 0;

}
	nav ul {
		position: absolute;

}
.work-bg p{
	padding-right: 3em;
}
.squiggle-footer{
		padding-left: 2.5em;

}
.mail{
	padding-left: 2.2em;
}
.contact .nav .active a{
	color: #FBC676;
	font-weight: 700;

}

.about ul img{
	padding-left: 4em;
}
.about .nav .active a{
	color: #FBC676;
}
.arrows img{
	padding-top: 5em;
	padding-bottom: 0;
}

.left, .right {
  position: static;
}
}

@media (min-width: 980px){
	.squiggle-footer{
		padding-left: 3.5em;

}
.mail{
	padding-left: 3.2em;
}
.contact .nav .active a{
	color: #FBC676;
	font-weight: 700;

}
}


@media (max-width: 336px){
.squiggle-footer{
		padding-left: 1.8em;

}
}
@media (max-width: 767px){
		.navbar{
	padding-top: 1em;
}

	.nav li{
	display: block;
	background-color: #C6CDC7;
}
.navbar-collapse{
	padding-bottom: 5em;
	padding-top: 5em;
	background-color: #0A3542;
}

}
