body {
    width:100%;
    height: 100%;
	margin: 0px auto;
}
.navbar{
	padding-top: 1em;
}

.home .nav a{
	color: #7E6B71;
}
.homepic{
	padding-top: 1.5em;
}
.home .squiggle-blue{
	width: 100%;
}
.home nav span{
	background-color: #5A3B00;
	
}

.home nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 400;
	color: #7E6B71;
}
.home .nav .active a{
	color: #5A3B00;
	font-weight: 700;
	
}
.home{
	background-color: #f7ead7;
	width: 100%;


}

.home h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #5A3B00;
}
.home h3{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 700;
	color: #9F2214;
	text-align: center;
	width: 100%;

}
.home h4{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	line-height: 1.2em;
	color: #9F2214;
	text-align: center;
	padding-top: 1.5em;
}

.home p{
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	text-align: center;
	font-weight: 400;
   	line-height: 1.5em;
   	padding-bottom: 3em;

    
}



.home-footer{
	background-color: #5A3B00; 
	width: 100%;
	
}
.home-footer p{
	color: #ffffff;
	text-align: center;
}
.home-footer a{
	color: #FBC676;
	padding-left: 2.8em;
	padding-bottom: 1em;	
	
}

.home-footer h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;
}
.home-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	text-align: center;
}
.mail{
	padding-left: 1.3em;
	padding-top: 1em;
	padding-bottom: 2em;
	max-width: 100%;

}

.squiggle-footer{
		
	padding-top: 2em;
	padding-bottom: 9em;
	max-width: 100%;
}



.work-bg nav span{
	background-color: #0A3542;

}

.work-bg nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #0A3542;
}
.work-bg .nav .active a{
	color: #ffffff;
	font-weight: 700;
}
.work-bg .squiggle-blue{
	width: 100%;
	padding-bottom: 2em;
}
.work-bg{
	background-color: #C6CDC7;
	width: 100%;
	height: 100%;
}
.work-bg h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #0A3542;

}

.work-bg h3{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 700;
	color: #9F2214;
	width: 100%;
	text-align: center;
}
.work-bg h4{
	color: #0A3542;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 400;
	text-align: center;
}
.work-bg p{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 400;
	color:#0A3542;
	text-align: center;
}
.work-bg a{
	color: #9F2214;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}

.work-footer{
	background-color: #9F2214; 
	width: 100%;
	
}
.work-footer p{
	color: #ffffff;
	text-align: center;
}
.work-footer a{
	color: #FBC676;
	padding-left: 2.8em;
	padding-bottom: 1em;
	
}
.work-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	text-align: center;
}
.arrows img{
	padding-top: .4em;
	padding-bottom: 1em;
	vertical-align: bottom;
}

.close-up img{
	padding-top: 2em;
	padding-bottom: 2em;
}
.close-up iframe{
	padding-top: 2em;
	padding-bottom: 2em;
	border: none;
}
.about nav span{
	background-color: #ffffff;
	
}

.about nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;
}
.about .nav .active a{
	color: #FBC676;
	font-weight: 700;

}

.about{
	background-color: #231F20;
	width: 100%;
}
.about h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;

}
.about h3{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 100%;

}
.about h4{
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 400;
	text-align: center;
}
.about p{
	font-family: 'Rokkitt', serif;
	font-size: 0.875em;
	font-weight: 400;
	color:#ffffff;
	text-align: center;
}
.about a{
	color: #FBC676;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}
.about img{
	padding-top: 1.5em;
	padding-bottom: 2em;
}
.about-footer{
	background-color: #0A3542; 
	width: 100%;
	
}
.about-footer p{
	color: #ffffff;
	text-align: center;
}
.about-footer a{
	color: #FBC676;
	padding-left: 2.8em;
	padding-bottom: 1em;
}
.about-footer h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	text-align: center;
}
.contact nav a{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 400;
	color: #ffffff;
}
.contact .nav .active a{
	color: #5A3B00;
	font-weight: 700;

}

.contact nav span{
	background-color: #ffffff;
	
}
.contact{
	background-color: #5A3B00; 
	width: 100%;
	height: 100%;
	
}
.contact-f{
	background-color: #5A3B00; 
	width: 100%;

	
}
.contact-f p{
	color: #ffffff;
	text-align: center;
}
.contact-f a{
	color: #FBC676;
	padding-left: 3.4em;
	padding-bottom: 1em;	
	
}

.contact-f h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	color: #ffffff;
}
.contact-f h4{
	padding-top: 7em;
	color: #ffffff;
	font-family: 'Rokkitt', serif;
	font-size: 1.3125em;
	font-weight: 700;
	text-align: center;
}
@media (min-width: 768px) {
 .name h3{
		margin-top: -2em;
		text-align: center;
		margin-bottom: 3em;
	}
	nav {
		position: relative;
		margin: 3em 0;

	}
	nav ul {
		position: absolute;
		
	}
   
}
@media (max-width: 767px){
		.navbar{
	padding-top: 1em;
}

	.nav li{
	display: block;
	background-color: #C6CDC7;
}
.navbar-collapse{
	padding-bottom: 5em;
	padding-top: 5em;
	background-color: #0A3542;
}

}
@media (max-width: 336px){
.home-footer a{
	color: #FBC676;
	padding-left: 2em;
	padding-bottom: 1em;
}
.about-footer a{
	color: #FBC676;
	padding-left: 2em;
	padding-bottom: 1em;
}
.work-footer a{
	color: #FBC676;
	padding-left: 2em;
	padding-bottom: 1em;
}
.contact-f a{
	color: #FBC676;
	padding-left: 2.6em;
	padding-bottom: 1em;
}
.squiggle-footer{
		padding-left: 1.8em;
	
}
}
@media (min-width: 360px){
	.squiggle-footer{
		padding-left: 1.8em;
	
}
.mail{
	padding-left: 1.6em;
}
}
@media (min-width: 768px){
	.squiggle-footer{
		padding-left: 2.5em;
	
}
.mail{
	padding-left: 2.2em;
}
.contact .nav .active a{
	color: #FBC676;
	font-weight: 700;

}
.home-footer a{
	padding-left: 3.7em;
		
	
}
.work-footer a {
	padding-left: 3.7em;
}
}
@media (min-width: 980px){
	.squiggle-footer{
		padding-left: 3.5em;
	
}
.mail{
	padding-left: 3.2em;
}
.contact .nav .active a{
	color: #FBC676;
	font-weight: 700;

}
.home-footer a{
	padding-left: 6.3em;
		
	
}
}



